.posts {
  background-color: var(--color-dark-grey);
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 1rem;
}

@media screen and (min-width: 550px) {
  .posts {
    margin: 3rem;
    padding: 1rem;
  }
}
