.text-area {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: solid var(--color-light-grey);
  font-size: 1.3rem;
  height: 10rem;
  width: 90%;
}

.text-area__error {
  border-color: var(--color-red);
}

.text-area__message {
  margin: 0;
  font-size: 1.1rem;
}
