.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loginPage__box {
  background-color: var(--color-dark-grey);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.loginPage__header {
  font-size: 4rem;
}
