/* You can add global styles to this file, and also import other style files */
:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  --color-green: #0f807a;
  --color-white: #fff;
  --color-dark-grey: #383838;
  --color-light-grey: #545454;
  --color-red: red;

  color: var(--color-white);
  background-color: #c7c7c7;
}

body {
  margin: 0;
}
